@import '../variables';

.navbar {
	display: flex;
	align-items: center;
	margin: 15px 30px;
	
	> img {
		height: 80px;
		margin-right: 20px;
	}
	
	> .title {
		font-family: Billabong, $font-family;
		font-size: 70px;
		font-weight: 900;
		color: white;
		transform: translateY(4px);
	}
}
